.fl {
	float: left;
}

.fr {
	float: right !important;
}

.ar {
	text-align: right;
}

.al {
	text-align: left;
}

.ac {
	text-align: center !important;
}

.col5 {
	width: 5%; }
.col10 {
	width: 10%; }
.col15 {
	width: 15%; }
.col20 {
	width: 20%; }
.col25 {
	width: 25%; }
.col30 {
	width: 30%; }
.col35 {
	width: 35%; }
.col45 {
	width: 45%; }
.col55 {
	width: 55%; }
.col65 {
	width: 65%; }
.col70 {
	width: 70%; }
.col80 {
	width: 80%; }

.space1 {
	height: 10px; }
.space2 {
	height: 20px; }
.space3 {
	height: 30px; }
.space4 {
	height: 40px; }

.spaceH2 {
	display: inline-block;
	height: 1px;
	width: 20px;
}

input.error,
textarea.error {
	border: 1px solid red;
}

.error {
	color: red;
}

.footer {
	text-align: center;
	margin-top: 50px;
}

span.divider2 {
	display: block;
	border-bottom: 1px solid #DDD;
	height: 1px;
	margin: 2px 0;
}

small.info {
	font-size: 12px;
	color: #BABABA;
	display: block;
}

small.info.min {
	font-size: 11px;
	line-height: 11px;
}

small.info.dark-light {
	color: #999;
}

small.info.normal {
	display: inline;
}

.table-striped tr td {
	vertical-align: middle;
}

/**/

ul.list {
	margin: 0;
}

ul.list li {
	border-bottom: 1px dashed #DDD;
	padding: 0px 0px 4px 0px;
	list-style: none;
}

div.modal-movie-info,
div.modal-moviepreview-info {
	height: 320px;
}

div.modal-movie-info div.movie-data {
	margin-left: 10px;
	width: 285px;
}

div.modal-moviepreview-info div.filter input {
	width: 520px;
	text-align: center;
	font-weight: bold;
}

div.modal-moviepreview-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 300px;
	overflow: scroll;
}

div.modal-moviepreview-info ul li {
	border-bottom: 1px solid #ccc;
}

div.modal-moviepreview-info ul li.separator {
	background-color: #eee;
	font-weight: bold;
	padding: 10px;
}

div.modal-moviepreview-info ul li a {
	margin: 0;
	padding: 10px;
	display: block;
}

div.modal-moviepreview-info ul li a:hover {
	text-decoration: none;
	background-color: #f6f6f6;
}

div.marker {
	border: 1px solid #EEE;
	background-color: #F5F5F5;
	padding: 20px 0;
}

div.box-image ul {
	margin: 5px 0;
	list-style: none;
}

table.table tbody tr.unpublished td {
	background-color: #FAE8E8;
}

table.table tbody tr.check td {
	background-color: #e8faeb;
}

table.table tbody tr.publish td {
	background-color: #e8edfa;
}