/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 140px;
}

.fr {
  float: right;
}

.container {
  width: 330px;
}

/* The white background content wrapper */
.container > .content {
  background-color: #fff;
  padding: 10px;
  margin: 0 -20px;
  -webkit-border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
          border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
  margin: 10px 30px 10px 37px;
}

.login-form input.input {
  width: 300px;
}

.alert {
  width: 340px;
}